* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fc;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

.resume {
    max-width: 900px;
    margin: 0 auto;
    
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img{
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50px;
}
.img img {
    border-radius: 50px;
    object-fit: cover;
}


.header-content h1 {
    font-size: 2.5rem;
}

.header-content p {
    font-size: 1.2rem;
    margin-top: 10px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    display: inline-block;
    padding-bottom: 5px;
}

.profile p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.education ul,
.contact ul,
.languages ul {
    list-style-type: none;
    font-size: 1rem;
    color: #555;
}

ul li {
    padding: 5px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#skills ul {
    list-style: square inside;
    font-size: 1rem;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




.resumeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-color: #e9ecef;
  }
  
  .mainForm {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  .mainForm h1 {
    text-align: center;
    margin-bottom: 12px;
    color: #007bff;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .inputContainer input,
  .inputContainer textarea {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border 0.3s ease;
  }
  
  .inputContainer textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .inputContainer input:focus,
  .inputContainer textarea:focus {
    border: 1px solid #007bff;
    outline: none;
  }
  
  .btnRe {
    padding: 12px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btnRe:hover {
    background-color: #0056b3;
  }